.form-wrapper{
    height: 100vh;
    /* border: 5px solid red; */
    overflow-y: auto;
    /* width: 100%; */
}
.form-main{
    padding: 10px;
    position: relative;
}
.form-titles{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: green;
    padding-top: 15px;
}
.input-field {
    border: 2px solid green;
    border-radius: 6px;
    padding: 10px;
    min-width: 410px;
    width: 50%;
    resize: vertical;
    overflow: hidden; /* Ensure content doesn’t overflow */
    min-height: 50px; /* Set a minimum height */
}
.button{
    padding: 15px;
    margin: 10px 10px 10px 0px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 6px;
    background-color: rgb(200, 200, 200);
    color: grey;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
}
.active{
    border: 2px solid green;
    background-color: green;
    color: white;
    cursor: pointer;
}

.images {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
}

.image-container {
    position: relative;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.images img {
    width: 200px;
    height: auto;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px;
}

.image-container:hover .delete-icon {
    display: block;
}

.slider {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 100%; 
    height: 12px; /* Increase the height to accommodate the thumb */
    background: transparent; /* Light gray background */
    outline: none; 
    border-radius: 6px; /* Rounded edges */
    margin-right: 10px;
    padding: 0; /* Remove padding if any */
    position: relative; /* Ensure relative positioning */
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: white; 
    cursor: pointer;
    border-radius: 50%;
    /* border: 2px solid black;  */
    transition: background 0.3s ease;
    z-index: 3;
    position: relative; /* Relative positioning */
    top: -6px; /* Align the thumb to the center */
    box-shadow: 0px 1px 5px green;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    top: -6px; /* Align the thumb to the center */
    /* border: none; */
  }
  
  .slider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #b3ffb3 20%, #66ff66 20%, #66ff66 40%, #00cc00 40%, #00cc00 60%, #009900 60%, #009900 80%, #004d00 80%, #004d00 100%);
    height: 8px; /* Adjust to match thumb height */
    border-radius: 6px;
  }
  
  .slider::-moz-range-track {
    background: linear-gradient(to right, #b3ffb3 20%, #66ff66 20%, #66ff66 40%, #00cc00 40%, #00cc00 60%, #009900 60%, #009900 80%, #004d00 80%, #004d00 100%);
    height: 8px; /* Adjust to match thumb height */
    border-radius: 6px;
  }
  
  .slider::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  